{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% csrf_token %}

{% if user.is_authenticated %}
    Hi {{ user.username }}!
  <p><a href={% url 'edit' %}>Edit profile</a></p>

    <h3>Current currency rates</h3>
  <table>
    <tr>
    {% for key in rates.keys %}
      <th>{{ key }}</th>
    {% endfor %}
    </tr>
    <tr>
    {% for value in rates.values %}
      <td>{{ value }}</td>
    {% endfor %}
    </tr>
  </table>
    <h3>Historical currency rates</h3>
  <table>
    <tr>
    {% for key in history.keys %}
      <th>{{ key }}</th>
    {% endfor %}
    </tr>
    <tr>
    {% for values in history.values %}
      <td>
        {% for v in values %}
        {{ v }}<br>
        {% endfor %}
      </td>
    {% endfor %}
    </tr>
  </table>
  <p><a href="{% url 'logout' %}">Logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}